@media only screen and (max-width: 768px) {
    p,h1 {
        margin: 0;
        line-height: 1.3em;
    }
    body{
        width: 100%;
        margin: auto;
    }
    .sofia {
        font-family: "Sofia", sans-serif;
        color: #d5439f;
    }
    p {
        font-family: "Poppins", serif;
        color: #f5787a;
    }
    .head {
        display: flex;
    }
    .content{
        display: grid;
        height: 100vh;
        text-align: center;
    }
    .bear{
        width: 40%;
        align-self: center;
        z-index: 0;
    }
    .details{
        z-index: 1;
        text-align: center;
        align-self: center;
    }

    .masha{
        width: 100%;
        align-self: end;
    }
}
