@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia&display=swap');

@media only screen and (max-width: 768px) {
    p,h1 {
        margin: 0 !important;
        line-height: 1.3em !important;
    }
    h1{
        font-size: 2.5em !important;
    }
    body{
        width: 100%;
        margin: auto;
    }
    .sofia {
        font-family: "Sofia", sans-serif;
        color: #d5439f;
    }
    p {
        font-family: "Poppins", serif;
        color: #f5787a;
    }
    .head {
        display: flex;
    }
    .content{
        display: grid;
        height: 100vh;
        text-align: center;
    }
    .bear{
        width: 40%;
        align-self: center;
        z-index: -1;
        position: relative;
    }
    .details{
        z-index: 1;
        position: relative;
        align-self: center;
        margin-top:55px;
    }
    .details h1{
        margin-left: -75px !important;
    }
    .star{
        font-size: 14px;
        vertical-align: top;
    }
    .masha{
        width: 100%;
        align-self: end;
    }
    iframe{
        width: 100%;
        height: 100vh;
    }
    .btn-primary{
        background-color: #d5439f !important;
        border-color: #d5439f !important;
    }
}
 